<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="text-center pb-3 pt-2"><img style="opacity: 0.8" src="./assets/img/brand/logo.png"></div>
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <app-blg-form formName='forgotPassword' (onSubmit)='forgetPassword($event)'>
                  <div *ngIf="errorMessage" role="alert" class="alert alert-danger"><i class="fa fa-close"></i>
                    {{errorMessage}}</div>
                  <div *ngIf="successMessage" role="alert" class="alert alert-info"><i class="fa fa-check"></i>
                    {{successMessage}}</div>
                </app-blg-form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
