<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="text-center  pb-3 pt-2">
            <h2 class="brandName">{{globalConfig.settings.organizationName}}</h2>
          </div>
          <app-blg-form formName='login' (onSubmit)='authenticateUser($event)'>
            <div *ngIf="errorMessage" role="alert" class="alert alert-danger"><i class="fa fa-remove"></i>
              {{errorMessage}}</div>
          </app-blg-form>
        </div>
      </div>
    </div>
  </main>
</div>
