// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";


app-forgot-password{
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  min-height: 100vh;
}

.breadcrumb-menu {
  margin-left: 0;
}

a[href*='#/dashboard/aboutSoftwareAndLicence']{
  font-size: 0.8em;
}
